{% extends "template.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <h1 class="govuk-heading-xl">Task manager for caseworkers</h1>
  <p class="govuk-body">
    This tool gives caseworkers the ability to view and create new tasks, assign tasks a deadline,
    and track the status of existing tasks. Future extensions of this tool include user accounts and the
    ability to update and remove existing tasks
  </p>
  {{ govukButton({
    text: "View all tasks",
    href: "/tasks"
  }) }}
{% endblock %}
