{% extends "template.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}#
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/hint/macro.njk" import govukHint %}

{% set taskList = [] %}
{% for task in tasks %}
  {% set title = ["<a href='tasks/", task.id, "'class='govuk-link govuk-link--no-visited-state'>", task.title, "</a>"] | join %}
  {% set description = ["<p class='govuk-hint'>", task.description, "</p>"] | join %}
  {% if task.dueDate %}
    {% set due = [task.dueDate.slice(0,10), " ", task.dueDate.slice(11), " GMT"] | join %}
  {% else %}
    {% set due = "" %}
  {% endif %}

  {% set status = "<p class='govuk-tag govuk-tag--blue'>Incomplete</p>" %}
  {% if task.status %}
    {% set status = "<p class='govuk-tag govuk-tag--green'>Completed</p>" %}
  {% endif %}

  {% set taskRow = [
    [
      {
        html: [title, description] | join
      },
      {
        text: due
      },
      {
        html: status
      }
    ]
  ] %}
  {% set taskList = taskList.concat(taskRow) %}
{% endfor %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "/"
    }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">All tasks</h1>

  {% if taskList.length %}
    {{ govukTable({
      firstCellIsHeader: true,
      head: [
        {
          text: "Task"
        },
        {
          text: "Deadline"
        },
        {
          text: "Status"
        }
      ],
      rows: taskList
    }) }}
  {% else %}
    <h3 class="govuk-heading-s">No tasks found</h3>
  {% endif %}
  {{ govukButton({
    text: "Create new task",
    href: "/tasks/new"
  }) }}

{% endblock %}
